h1 {
  position: relative;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  font-size: 44px;
  color: rgba(0, 0, 0, 0.75);
}

p {
  padding: 0px;
  padding-left: 425px;
  font-size: 24px;
  color: grey;
}

table {
  margin: 0px;
  padding-top: 0px;
  padding-left: 80px;
}

button:hover {
  cursor: pointer;
}

button {
  position: relative;
  display: inline-block;
  border-radius: 7px;
  height: 45px;
  width: 150px;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

button:active {
  top: 2px;
  left: 1px;
}

tr {
  padding-top: 50px;
  margin-top: 50px;
}

td {
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 40px;
}

/* Button 1 */
#button1 {
  background-color: rgb(47, 83, 150);
}

#button1:hover {
  background-color: rgb(0, 172, 238);
  transition: ease 1.5s;
}

/* Button 2 */
#button2 {
  background-color: rgba(248, 7, 7, 1);
}

#button2:hover {
  background-color: rgba(248, 7, 7, 0.7);
  transition: ease 800ms;
}
/* Button 2 Completed */

/* Button 3 */
#button3 {
  background: linear-gradient(
    0deg,
    rgb(137, 79, 231) 10%,
    rgb(90, 9, 160) 100%
  );
  border: none;
}

#button3:hover {
  cursor: pointer;
  box-shadow: 5px 5px 3px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 4px 0 rgba(0, 0, 0, 0.2),
    inset 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
}
/* button 3 Completed */

/* Button 4 */

#button4 {
  background: linear-gradient(
    0deg,
    rgba(22, 9, 240, 1) 0%,
    rgba(49, 110, 244, 1) 100%
  );
  color: #fff;
}

#button4:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
}

#button4:hover {
  color: chartreuse;
  background-color: rgba(22, 9, 240, 1);
  background: transparent;
}

#button4:hover:after {
  background: linear-gradient(
    0deg,
    rgba(2, 126, 251, 1) 0%,
    rgba(0, 3, 255, 1) 100%
  );
  -moz-transition: scale(0);
  transition: all 0.4s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Button 4 Completed */

/* Button 5 */
#button5 {
  background: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
}

#button5 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

#button5:before,
#button5:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 4px 0 rgba(116, 125, 136, 0.3);
  transition: all 1s ease;
}

#button5:before {
  height: 0%;
  width: 2px;
}

#button5:after {
  width: 0%;
  height: 5px;
}

#button5:hover:before {
  height: 100%;
}

#button5:hover:after {
  width: 100%;
}

#button5:hover {
  color: rgb(47, 83, 150);
  background: transparent;
}

#button5 span:before,
#button5 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 1s ease;
  color: black;
}

#button5 span:before {
  width: 2px;
  height: 0%;
}

#button5 span:after {
  height: 2px;
  width: 0%;
  color: black;
}

#button5 span:hover:before {
  height: 100%;
}

#button5 span:hover:after {
  width: 100%;
}

/*button5 Completed */

/* Button 6*/
#button6 {
  background: linear-gradient(
    0deg,
    rgba(255, 27, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
}

#button6:hover {
  color: #f0094a;
  background: transparent;
}

#button6:before,
#button6:after {
  content: "";
  position: static;
  height: 2px;
  background: #f0094a;
  transition: 400ms ease all;
  /* -moz-transition: 400ms ease all;*/
}

#button6:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
/* Button 6 Completed */

/* Button 7 */
#button7 {
  background-color: aqua;
  color: black;
}

#button7:hover {
  box-shadow: -4px -4px 4px 0 rgba(0, 0, 0, 0.2),
    4px 4px 4px 0 rgba(0, 0, 0, 0.3), inset -4px -4px 4px 0 rgba(0, 0, 0, 0.2),
    inset 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
}
/* Button 7 Completed */

/* Button 8 */

#button8 {
  border: none;
  background: rgb(251, 33, 117);
  color: whitesmoke;
  /* If overflow not hidden then animation will take entire screen */
  overflow: hidden;
}

#button8:hover {
  color: black;
  background: transparent;
  border-style: ridge;
  border-color: black;
}

#button8:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -150px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: btn1 2s ease-in-out infinite;
}

/* On clicking button */
#button8:active {
  box-shadow: 4px 4px 4px 0 rgba(255, 255, 255, 0.1),
    -4px -4px 4px 0 rgba(116, 125, 136, 0.1),
    inset -4px -4px 4px 0 rgba(0, 0, 0, 0.4),
    inset 4px 4px 4px 0 rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes btn1 {
  0% {
    -webkit-transform: scale(5) rotate(90deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(5) rotate(90deg);
    opacity: 0.5;
  }
  75% {
    -webkit-transform: scale(2) rotate(90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(30) rotate(90deg);
    opacity: 0;
  }
}
/* Button 8 complete*/

/* Button 9 */
#button9 {
  background: linear-gradient(
    to right,
    hsl(45, 90%, 57%) 13.33%,
    white 55.33%,
    green
  );
  overflow: hidden;
}

#button9:hover {
  color: black;
  background: transparent;
  border-style: ridge;
  border-color: black;
}

#button9::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: -130px;
  left: 0;
  width: 30px;
  height: 100%;
  background: #fff;
  animation: btn2 3s ease-in-out infinite;
}

@keyframes btn2 {
  0% {
    -webkit-transform: scale(5) rotate(135deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(5) rotate(135deg);
    opacity: 0.25;
  }
  50% {
    -webkit-transform: scale(10) rotate(135deg);
    opacity: 0.5;
  }
  75% {
    -webkit-transform: scale(30) rotate(135deg);
    opacity: 0.75;
  }
  85% {
    -webkit-transform: scale(35) rotate(135deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(40) rotate(135deg);
    opacity: 0;
  }
}

/* Button 9 complete*/

/* Button 10 */

#button10 {
  background: -moz-linear-gradient(#833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: linear-gradient(#833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  overflow: hidden;
}

#button10:hover {
  background: mediumspringgreen;
}

#button10::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: -180px;
  height: 100%;
  width: 30px;
  left: 0;
  background: #fff;
  animation: btn3 2s ease-in-out infinite;
}

@keyframes btn3 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  75% {
    -webkit-transform: scale(5) rotate(45deg);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(60) rotate(45deg);
    opacity: 0;
  }
}

/* Button 10 Completed */

/* Button 11 */

#button11 {
  background: #b621fe;
  border: none;
  z-index: 1;
}

#button11:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#button11:hover {
  color: #fff;
}

#button11:hover:after {
  left: 0;
  width: 100%;
}
/* Button 11 Completed */

div.pageDetails {
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 119px;
  margin-top: 80px;
}

div.pageDetails p {
  color: white;
  font-size: 28px;
  padding-top: 25px;
  padding-left: 520px;
}
